/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }
    .show-on-mobile {
        display: none;
    }
    .toggle-menu {
        display: none;
    }
}
/* Tablet & mobile*/
@media screen and (max-width: 991px) {
    .navbar {
        position: relative;
    }
    .navbar .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .navbar svg {
        width: 20px;
        height: 20px;
    }
    .navbar ul {
        display: none;
    }
    .menu-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }
    .menu-drawer {
        position: fixed;
        padding: 60px;
        inset: 0 40% 0 0;
        background: #fff;
        z-index: 2;
        transform: translateX(-100%);
        transition: 0.5s;
    }
    .menu-drawer ul {
        margin-top: 32px;
    }
    .menu-drawer ul a {
        display: block;
        font-weight: 500;
        color: #333;
        padding: 14px;
    }
    .menu-drawer ul a:hover {
        background-color: rgb(231, 231, 232);
    }
    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }
    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .separate {
        border-top: 1px solid #c8c7c7;
    }
    .hero-img {
        display: none;
    }
    .hero-wrap .info {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .hero-wrap .desc {
        width: 80%;
        margin: 30px auto auto;
    }
    .clients .images {
        flex-wrap: wrap;
        justify-content: center;
    }
    .guides-items {
        margin: 0;
        flex: 1;
    }
    .featured .list {
        grid-template-columns: 1fr 1fr;
    }
    .stats .row {
        flex-direction: column;
    }

    .stats .img-block,
    .stats .info {
        width: 100%;
    }

    .stats .img-block {
        order: 2;
        margin-top: 80px;
    }

    .stats .info {
        order: 1;
        padding: 0;
    }

    .stats .sub-title {
        width: 70%;
    }

    .stats .info .desc {
        width: 100%;
    }

    .stats .row-qty {
        flex-direction: row;
    }

    .stats .qty {
        font-size: 5rem;
    }

    .stats .qty-desc {
        font-size: 1.5rem;
    }

    .subcription .image {
        display: none;
    }

    .footer .row-top {
        display: grid;
        grid-template-columns: 1fr 2fr;
        row-gap: 80px;
    }
} /*Tablet*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .show-on-mobile {
        display: none;
    }
}
/* Mobile */
@media screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none;
    }
    .menu-drawer {
        padding: 40px;
        inset: 0 25% 0 0;
    }
    .navbar .action {
        display: none;
    }
    .hero-wrap {
        height: calc(100vh - 70px);
    }
    .hero-wrap .title {
        margin-top: 20px;
        font-size: 5.2rem;
    }
    .hero-wrap .desc {
        width: 100%;
    }
    .clients .images {
        row-gap: 20px;
    }
    .list-guides {
        flex-direction: column;
        row-gap: 60px;
    }
    .guide-cta {
        margin-top: 60px;
    }

    .featured .link {
        display: none;
    }

    .featured .list {
        grid-template-columns: 1fr;
    }

    .featured .view-all {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    .stats .sub-title {
        width: 100%;
    }

    .stats .img-block .image {
        width: 100%;
    }

    .stats-trend {
        left: 20px;
    }

    .stats .row-qty {
        flex-direction: column;
        align-items: center;
        row-gap: 60px;
    }

    .subscription .info {
        padding: 32px;
    }

    .subscription .body {
        height: auto;
    }

    .footer .row-top {
        grid-template-columns: 1fr;
    }

    .footer .row-bottom {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 24px;
    }
}
